<a href="https://colab.research.google.com/github/pampamlopes/ai_supervised/blob/main/kmeans.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd

In [5]:
#lendo o dataset
df = pd.read_csv('dados.csv')

In [7]:
#visualindo dados do dataset
df.head(10)

      county  cases  deaths
0  Abbeville     84       0
1     Acadia    741      21
2   Accomack    116       0
3        Ada   4264      41
4      Adair    325       8
5      Adams   5003     101
6    Addison    470       0
7      Aiken    298      10
8    Alachua   1763       0
9   Alamance    209       0